<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="ShopEva - web bán đồ dành cho phái đẹp">
    <meta name="author" content="Trần Văn Anh"/>

    <title>Admin - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="~/lib/fontawesome-pro-6.5.1-web/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"/>

    <!-- Custom styles for this template-->
    <link href="~/css/select2.min.css" rel="stylesheet" />
    <link href="~/lib/ngckeditor/ng-ckeditor.css" rel="stylesheet" />
    <link href="~/lib/toastr.js/toastr.min.css" rel="stylesheet" />
    <link href="~/lib/angular-loading-bar/loading-bar.min.css" rel="stylesheet" />
    <link href="~/css/admin_css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

    <base href="/Dashboard"/>
</head>

<body id="page-top" ng-app="ShopEva" ng-controller="RootController">
    <div ui-view></div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/lib/vendor/jquery/jquery.min.js"></script>
    <script src="~/lib/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/lib/fontawesome-pro-6.5.1-web/js/all.min.js"></script>
    <script src="~/lib/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/admin_js/sb-admin-2.min.js"></script>
    <script src="~/lib/angular.js/angular.min.js"></script>
    <script src="~/lib/angular-ui-router/angular-ui-router.min.js"></script>
    <script src="~/js/select2.js"></script>
    @* <script src="~/lib/angular-toastr/angular-toastr.js"></script> *@
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="~/lib/bootbox.js/bootbox.min.js"></script>
    <script src="~/lib/angular-animate/angular-animate.min.js"></script>
    <script src="~/lib/angular-loading-bar/loading-bar.min.js"></script>
    <script src="~/lib/angular-local-storage/angular-local-storage.min.js"></script>
    <script src="~/lib/angular-messages/angular-messages.min.js"></script>
    <script src="~/lib/ngBootbox/ngBootbox.js"></script>
    <script src="~/lib/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="~/lib/angular-translate/angular-translate.min.js"></script>
    <script src="~/lib/angular-cookies/angular-cookies.min.js"></script>
    <script src="~/lib/angular-resource/angular-resource.min.js"></script>
    @* <script src="~/js/angular-datatables.min.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script> *@

    @* <script src="~/lib/ckeditor_4.22.1_full/ckeditor/ckeditor.js"></script> *@
    @* <script src="~/lib/ckeditor5-build-classic/ckeditor.js"></script> *@
    <script src="~/lib/ckeditor_4.22.1_full_easyimage/ckeditor/ckeditor.js"></script>
    <script src="~/lib/ckfinder_aspnet_2.6.2.1/ckfinder/ckfinder.js"></script>
    <script src="~/lib/ngckeditor/ng-ckeditor.min.js"></script>
    <script src="~/lib/elfinder/js/elfinder.min.js"></script>
    <script src="~/lib/angularjwt/angular-jwt.min.js"></script>


    <!-- Script module -->
    <script src="~/Clients/Shares/Modules/ShopEva.Common.js"></script>
    <script src="~/Clients/Components/ProductCategory/ProductCategory.module.js"></script>
    <script src="~/clients/components/products/product.module.js"></script>
    <script src="~/Clients/app.js"></script>
    <script src="~/Clients/Components/AdminHome/RootController.js"></script>

    <!-- Script service -->
    <script src="~/Clients/Shares/Services/CRUDService.js"></script>
    <script src="~/Clients/Shares/Services/NotifyService.js"></script>
    <script src="~/clients/shares/filters/statusfilter.js"></script>
    <script src="~/clients/shares/services/commonservice.js"></script>
    <script src="~/Clients/Shares/Directives/PagerDirective.js"></script>
    <script src="~/Clients/Shares/Directives/Select2Directive.js"></script>
    <script src="~/clients/shares/directives/requireddirective.js"></script>
    <script src="~/clients/shares/directives/ckeditordirective.js"></script>
    <script src="~/clients/shares/services/authdata.js"></script>
    <script src="~/clients/shares/services/authservice.js"></script>
    <script src="~/clients/shares/services/loginservice.js"></script>
    <script src="~/clients/shares/services/translationservice.js"></script>

    <!-- Script controller -->
    <script src="~/clients/components/loginpage/loginpagecontroller.js"></script>
    <script src="~/Clients/Components/AdminHome/DashboardController.js"></script>
    <script src="~/Clients/Components/ProductCategory/ProductCategoryListController.js"></script>
    <script src="~/Clients/Components/ProductCategory/ProductCategoryOverviewController.js"></script>
    <script src="~/clients/components/products/productcontroller.js"></script>
    <script src="~/clients/components/products/productoverviewcontroller.js"></script>
    

    <!-- Page level plugins -->
    @* <script src="~/lib/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/js/admin_js/demo/chart-area-demo.js"></script>
    <script src="~/js/admin_js/demo/chart-pie-demo.js"></script> *@
    
</body>

</html>

