

<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <ul class="navbar-nav">
        <li class="nav-item">
            <h3>Product detail</h3>
        </li>
    </ul>

    <ul class="navbar-nav ml-auto" ng-if="Saved">
        <li class="nav-item">
            <a class="nav-link" title="Reload" href="javascript:void(0);" role="button">
                <i class="fa-light fa-repeat"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" title="Update" ng-click="Edit()" href="javascript:void(0);" role="button">
                <i class="fa-light fa-pen-to-square"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" title="Duyệt" href="javascript:void(0);" role="button">
                <i class="fa-light fa-check-to-slot"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-danger"
               title="Cancel"
               ng-click="Close()"
               href="javascript:void(0);" role="button">
                <i class="fa-regular fa-xmark-large"></i>
            </a>
        </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto" ng-if="!Saved">
        <li class="nav-item">
            <a class="nav-link"
               title="Save"
               href="javascript:void(0);"
               ng-click="SaveAdd(frmAddProductcategory.$invalid)"
               role="button">
                <i class="fa-light fa-floppy-disk"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-danger"
               title="Cancel"
               ng-click="Close()"
               href="javascript:void(0);"
               role="button">
                <i class="fa-regular fa-xmark-large"></i>
            </a>
        </li>
    </ul>
</nav>

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- form start -->
    <form class="form-horizontal" novalidate name="frmAddProductcategory" role="form">
        <div class="card-body">
            <div class="form-group row">
                <div class="col-sm-6 row">
                    <div class="col-sm-12">
                        <label class="col-sm-12 col-form-label px-0">Name<ng-important /></label>
                        <input ng-model="ProductCategory.name"
                               ng-maxlength="501"
                               required
                               ng-disabled="!EditMode && Saved"
                               ng-change="GetSEOTitle()"
                               class="form-control"
                               name="name"
                               placeholder="Name product category ...">

                        <div ng-messages="frmAddProductcategory.name.$error" class="text-danger" ng-if="submitted">
                            <span ng-message="required">Category name is required.</span>
                            <span ng-message="maxlength">Category name no more than 501 characters.</span>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <label class="col-sm-12 col-form-label px-0">SEO Title<ng-important /></label>

                        <input type="text"
                               required
                               name="alias"
                               readonly
                               ng-maxlength="500"
                               ng-disabled="!EditMode && Saved"
                               ng-model="ProductCategory.alias"
                               class="form-control"
                               placeholder="Alias ...">

                        <div ng-messages="frmAddProductcategory.alias.$error" class="text-danger" ng-if="submitted">
                            <span ng-message="required">SEO Title is required.</span>
                            <span ng-message="maxlength">Category alias no more than 501 characters.</span>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <label class="col-sm-12 col-form-label px-0">Parent</label>

                        <!--<select ng-model="Parent" select2
                                name="parentID"
                                id="ParentDropdown"
                                ng-options="option as option.name for option in ParentList track by option.id"
                                class="form-control">
                            <option value="">--- Choose parent category ---</option>
                        </select>
                        <input name="parentID" type="hidden" ng-model="ProductCategory.parentID" />-->

                        <select select2 class="form-control col-md-12 col-xs-12"
                                id="product_category_overview_add"
                                name="product_category_overview_add"
                                ng-model="Parent"
                                ng-disabled="!EditMode && Saved"
                                ng-options="option as option.name for option in ParentList | orderBy: 'name'">
                            <option value="">---- Choose parent category ----</option>
                        </select>

                    </div>

                    <div class="col-sm-12">
                        <label class="col-sm-12 col-form-label px-0">Display order</label>
                        <input type="number"
                               name="displayOrder"
                               ng-disabled="!EditMode && Saved"
                               ng-model="ProductCategory.displayOrder"
                               class="form-control"
                               placeholder="Display order ...">
                    </div>

                    <div class="col-sm-12">
                        <label class="col-sm-12 col-form-label px-0">Meta keyword</label>
                        <input type="text"
                               name="metaKeyword"
                               ng-disabled="!EditMode && Saved"
                               ng-model="ProductCategory.metaKeyWord"
                               class="form-control"
                               placeholder="Meta keyword ...">
                    </div>


                    <div class="col-sm-12">
                        <label class="col-sm-12 col-form-label px-0">Meta description</label>
                        <textarea ng-model="ProductCategory.metaDescription"
                                  ng-disabled="!EditMode && Saved"
                                  name="metaDescription"
                                  rows="1"
                                  class="form-control"
                                  placeholder="Meta description ..."></textarea>
                    </div>
                </div>

                <div class="col-sm-6 row">
                    <div class="col-sm-12">
                        <label class="col-sm-12 col-form-label px-0">Description</label>
                        <textarea type="text"
                                  name="description"
                                  rows="4"
                                  ck-editor
                                  id="txt_prodCateg_descrition_ckeditor"
                                  ng-disabled="!EditMode && Saved"
                                  ng-model="ProductCategory.description"
                                  class="form-control"
                                  placeholder="Description ..."></textarea>
                        

                        <!--<ck-editor ng-model="ProductCategory.description"></ck-editor>-->

                    </div>

                    <div class="col-sm-12">
                        <label class="col-sm-12 col-form-label px-0">Image</label>
                        <label class="col-sm-12 px-0" for="inputGroupFile02">
                            <img width="100%" height="166" style="cursor: pointer;"
                                 class="border border-secondary-subtle"
                                 src="/img/upload-6699084.svg" />
                        </label>
                        <input type="file"
                               name="image"
                               placeholder="Image ..."
                               accept="image/png, image/jpeg, image/jpg"
                               ng-disabled="!EditMode && Saved"
                               ng-model="ProductCategory.image"
                               class="form-control"
                               id="inputGroupFile02">
                    </div>


                    <div class="col-sm-12">
                        <label class="col-sm-12 col-form-label px-0">Status<ng-important /></label>
                        <select ng-options="item as item.name for item in StatusList track by item.id"
                                ng-model="Productcategory_Status"
                                ng-disabled="!EditMode && Saved"
                                required
                                name="status"
                                class="form-control">
                            <option value="">--- Choose one status ---</option>
                        </select>

                        <div ng-messages="frmAddProductcategory.status.$error" class="text-danger" ng-if="submitted">
                            <p ng-message="required">Status is required.</p>
                        </div>
                    </div>


                    <div class="col-sm-12">
                        <label class="col-sm-12 col-form-label px-0">Show on home</label>
                        <input type="checkbox"
                               ng-checked="ProductCategory.homeFlag"
                               ng-model="ProductCategory.homeFlag"
                               ng-disabled="!EditMode && Saved"
                               id="homeFlag">
                        <label for="homeFlag"> Hiển thị trang chủ</label>
                    </div>
                </div>
            </div>

            <div class="form-group row text-danger p-3">
                <h4>Các mục có gắn<ng-important />là những mục bắt buộc</h4>
            </div>

        </div>
    </form>

</div>
<!-- End Page Content -->


<!--<script src="../../../lib/ckeditor5-build-classic/ckeditor.js"></script>-->
<script>
    //ClassicEditor
    //    .create(document.querySelector('#txt_prodCateg_descrition_ckeditor'), {
    //        //toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
    //    })
    //    .then(editor => {
    //        window.editor = editor;

    //        editor.model.document.on('change:data', () => {
    //            console.log(editor.getData());
    //            console.log($('#txt_prodCateg_descrition_ckeditor'));
    //            $('#txt_prodCateg_descrition_ckeditor').val(editor.getData());
    //        });
    //    })
    //    .catch(err => {
    //        console.error(err.stack);
    //    });
</script>
