
@{
    ViewData["Title"] = "ShopEva Admin - Dashboard Dashboard";
    Layout = "~/Areas/AdminArea/Views/AdminShare/_AdminLayout.cshtml";
}

<h1>Dashboard</h1>
<p>Xin chào đến với trang Dashboard của chúng tôi!</p>

<h1>{{Demo}}</h1>
